<div id="top-nav">	
	<div id="nav-logo" class="round">
		<a href="/">
			<h4 class="first rotate">The</h4> 
			<h4 class="bigger rotate">Brown</h4>
			<h4 class="last rotate">Book</h4>
		</a>
	</div>
	<div id="title-wrap">
		<span class="separator"></span> <%= title %>
	</div>
	<div id="menu-wrapper">
		<nav id="bt-menu" class="bt-menu">
			<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
			<ul>
				<li><a href="#" class="bt-icon icon-user-outline">About</a></li>
				<li><a href="/pupils" class="bt-icon icon-sun">Pupils</a></li>
				<li><a href="#" class="bt-icon icon-windows">Pictures</a></li>
				<li><a href="#" class="bt-icon icon-speaker">Contact</a></li>
			</ul>
		</nav>
	</div>
</div>

<link href="/assets/style5.css?body=1" media="all" rel="stylesheet" type="text/css">
<script src="assets/classie.js"></script>
<script src="assets/borderMenu.js"></script>
