<div class="pl">
	<img class="source-image" src="assets/bg1.jpg" alt="" />
	<div class="mid-icon round">
		<h2 class="first rotate">The</h2> 
		<h2 class="bigger rotate">Brown</h2>
		<h2 class="last rotate">Book</h2>
		<h4>Class of 2006<br/> Chinmaya Vidyalaya<br/> Jamshedpur</h4>
	</div>
	<div class="info-box round">
		<h2 class="first">Bringing<br/> Reminiscences<br/> On&nbsp; With<br/> Nostalgia</h2>
	</div>
</div>
<nav id="bt-menu" class="bt-menu">
	<a href="#" class="bt-menu-trigger"><span>Menu</span></a>
	<ul>
		<li><a href="#" class="bt-icon icon-user-outline">About</a></li>
		<li><a href="/pupils" class="bt-icon icon-sun">Pupils</a></li>
		<li><a href="#" class="bt-icon icon-windows">Pictures</a></li>
		<li><a href="#" class="bt-icon icon-speaker">Contact</a></li>
	</ul>
</nav>

<link href="/assets/style3.css?body=1" media="all" rel="stylesheet" type="text/css">
<script src="assets/classie.js"></script>
<script src="assets/borderMenu.js"></script>